<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/weather.png"
</head>

<body>
    {{>header}}
    <div class="content">
        <br><p>This site was created by Tim Paulaskas. It used data from mapbox.com and weatherstack.com!</p>
        <img src="img/A9mlWVOs_400x400.jpg" />
    </div>
    {{>footer}}
</body>

</html>